body {
    margin: 0;
    height: 100vh;
    background-color: white;
}

span {
    background: url('./ico.png');
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}